/* General Formatting */

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}



.header, .footer, .first-block, .second-block, .third-block, .fourth-block {
    padding: 100px 150px;
}

.header, .footer, .first-block {
    background-color: #1F2937;
}


/* Header Formatting */

.header {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-logo {
    font-size: 24px;
    font-weight:900;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.header li {
    text-align: center;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
}


/* First block formatting */

.first-block {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.first-block .left-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.first-block h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.first-block p {
    color: #E5E7EB;
    margin: 12px 0;
}

.first-block button {
    background-color: #3882F6;
    border: 2px solid #3882F6;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
    margin-top: auto;
}

.mika-img {
    width: 300px;
    align-self: baseline;
}

/* Second block formatting */

.second-block {
    padding-top: 0;
}

.second-block h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.second-block .container {
    display: flex;
    justify-content: space-between;
    color: #1F2937;
    margin: 0 100px;
    flex-wrap: wrap;
    gap: 12px;
}

.second-block .img-container {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 18px;
}

.second-block .img-desc {
    text-align: center;
    margin-top: 6px;
}


/* Third block formatting */

.third-block {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 250px;
}

.third-block .takeaway-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.third-block .author {
    font-weight: bold;
    text-align: right;
    font-size: 24px;
}


/* Fourth block formatting */

.fourth-block {
    color: #F9FAF8;
}

.fourth-block .blue-container {
    box-sizing: border-box;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    border-radius: 18px;
    flex-wrap: wrap;
}

.fourth-block h3, p {
    margin: 0;
}

.fourth-block h3 {
    font-weight: bold;
    font-size: 24px;
}

.fourth-block p{
    font-size: 18px;
}

.fourth-block button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 8px 32px;
    text-align: center;
    border-radius: 8px;
    flex-shrink: 0;
}


/* Footer formatting */

.footer {
    color: #E5E7EB;
    font-size: 18px;
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
}